.text-input {
  font-size: 2rem;
  box-shadow: none;
  padding: 0.4rem;

  &-invalid {
    border: 1px solid red;
  }
}

.custom-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
