<div [ngClass]="bestOption ? 'list-item-favourite list-item' : 'list-item'">
  <div *ngIf="bestOption" class="list-item_top">
    <mat-icon class="list-item_top-icon">stars</mat-icon>
    <p class="list-item_top-title">{{ titles.title }}</p>
  </div>

  <div class="list-item_bot">
    <div class="list-item_bot-info">
      <p>{{ plan?.name }}:</p>
      <span> {{ plan?.cost | euro }} </span>
    </div>

    <app-btn type="button" (click)="toggleIsOpen()" title="Purchase">
      {{ btnTitles.btnTitle }}
    </app-btn>
  </div>

  <div [@openClose]="isOpen ? 'open' : 'closed'">
    <p>{{ titles.someInfo }}</p>
  </div>
</div>
