@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.titleXL {
  font-size: 30px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
